node_modules
.DS_Store
*.local
.idea
packages/*/dist
packages/*/.turbo
packages/*/.pnpm-debug.log
packages/unplugin/*.d.ts
packages/unplugin/*.js
packages/unplugin/*.mjs
packages/playground-cli/build-backup
